/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/ext/ext_package
/ext/webview_app*
/ext/webview/webview*
mkmf.log
/webview-*.gem
/spec/examples.txt

*.swp
